language: php

php:
    - 5.3
    - 5.4

env:
    - WP_VERSION=latest
    - WP_VERSION=3.8.1
    - WP_VERSION=3.8
    - WP_VERSION=3.7.1
    - WP_VERSION=3.7
    - WP_VERSION=3.6.1
    - WP_VERSION=3.6
    - WP_VERSION=3.5.2
    - WP_VERSION=3.5.1
    - WP_VERSION=3.5

install:
    - mkdir ~/php-test-helpers/
    - cd ~/php-test-helpers
    - git clone https://github.com/php-test-helpers/php-test-helpers.git .
    - phpize
    - ./configure --enable-test-helpers
    - make
    - sudo make install
    - cd -

before_script:
    - echo "zend_extension=$HOME/php-test-helpers/modules/test_helpers.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini
    - bash bin/install-wp-tests.sh wordpress_test travis '' localhost $WP_VERSION 

script: phpunit