<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <!-- Default test suite to run all tests -->
        <testsuite>
            <directory prefix="test_" suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">.</directory>
		</whitelist>
	</filter>
</phpunit>